<html>
  <body>
	<div style="font-size:13px;">
    GRINBIT Email Authentication:
    This mail verifies that <%= email %> is the correct email address.
	</div>
  <p />
  <p />
    <div style="font-size:18px;">
      The authentication code is [ <%= code1 %>  <%= code2 %> ]
    </div>
  </body>
</html>
